@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

hr {
  width: 100%;
}

/* Header */
h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  word-spacing: 7px;
  Color: #fff;
}

h3 {
  margin: 0 0 10px 0;
  text-decoration: underline;
}

.personal_details {
  height: 121px;
}

.personal_details,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu {
  width: 100%;
  height: 20px;
  margin: 7px 0;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  margin: 5px 0;
}

/* .contact-details,
.menu-list,
h4,
h3,
p,
footer,
tr,
img,
svg,
ul {
  color: #000;
} */

.menu-list {
  padding: 4px 13px;
  border-radius: 24px;
  border: 1px solid #000;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

a:active {
  color: blue;
}

/* CV highlights */

section {
  display: block;
  width: 100%;
  padding: 12.7px;
}

li {
  margin: 5px 35px;
}

/* Education */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid #000;
  padding: 4.5px;
  text-align: left;
}

/* Tables stars */
.stars {
  display: inline;
}

/* Top button */
#top-div {
  width: 45px;
  height: 45px;
  bottom: 10px;
  right: 9px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #000;
}

#top-div:hover {
  background: #dedede;
  opacity: 0.7;
}

/* list items */
ul {
  border-radius: 5px;
}

/* Footer */
footer {
  height: 40px;
  flex-direction: row;
  justify-content: center;
}

.flink {
  margin: 0 20px;
}

/* Certificate download */

.certifiacte-download {
  filter: invert(0);
  width: 15px;
}

.checked {
  color: #ff920d;
}

img{
 filter: invert(1); 
}

/* Mobile responsive  */

@media only screen and (max-width: 770px) {
  * {
    flex-wrap: wrap;
    width: auto;
  }

  .menu,
  .name_address {
    font-size: 0.6em;
  }

  .menu {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .menu-list {
    margin: 0.2em;
  }
  .flink {
    margin: 0 20px;
  }

  .flink > img {
    width: 15px;
  }

  img {
    width: 8px;
  }

  ul {
    margin: 3px;
  }

  li {
    margin: 0 31px;
  }

  span {
    display: flex;
    flex-direction: row;
    width: 0.5em;
    margin: 0 1px;
  }
  section {
    padding: 8.7px;
  }

  table {
    font-size: small;
    letter-spacing: 0.5px;
  }

  #top-div {
    padding: 0.2em 0.4em;
    width: 30px;
    height: 30px;
  }

  #top > svg {
    width: 0.9em;
    position: relative;
    left: 1px;
    top: 1px;
  }

  .list-items > tr > td {
    display: flex;
  }
}
